/* General Reset */
/* Intro Container */
 /* Video background styles */

  

/* Main Container */
.content {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center horizontally */
  justify-content: center; /* Center vertically */
  min-height: 100vh; /* Full viewport height */
  padding: 20px;
  z-index: 1; /* Ensure it is above the particles */
  

}


/* Curved Box */
.curved-box {
  width: 100%;
  max-width: 600px;
  padding: 20px;
  background-color: #111;
  border-radius: 25px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.7);
  border: 2px solid #333;
  color: #fff;
  transition: transform 0.3s, box-shadow 0.3s, border-color 0.3s, background-color 0.3s;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
}

.curved-box:hover {
  transform: translateY(-15px);
  box-shadow: 0 12px 30px rgba(0, 255, 255, 0.5);
  border-color: cyan;
  background-color: #1c1c1c;
}

.curved-box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 188, 212, 0.1);
  border-radius: 25px;
  transition: opacity 0.3s;
  opacity: 0;
  z-index: -1;
}

.curved-box:hover::before {
  opacity: 1;
}

@keyframes glow {
  0% {
    text-shadow: 0 0 5px rgba(255, 165, 0, 0.5);
  }
  50% {
    text-shadow: 0 0 15px rgba(255, 165, 0, 1);
  }
  100% {
    text-shadow: 0 0 5px rgba(255, 165, 0, 0.5);
  }
}

.curved-box p {
  margin: 0;
  font-size: 1.2rem;
  line-height: 1.6;
  color: #666; /* Dull color */
  transition: text-shadow 0.3s ease-in-out, color 0.3s ease-in-out;
}

.curved-box p:hover {
  color:white; /* Bright color on hover */
  animation: glow 1.5s infinite; /* Apply glowing animation */
}


/* Heading Styles */
h3 {
  font-size: 1.5rem;
  margin-bottom: 15px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: orange;
  transition: color 0.3s, text-shadow 0.3s;
  text-align: center; /* Centers the text */
}


h3::after {
  content: '';
  display: block;
  width: 0;
  height: 3px;
  background: linear-gradient(to right, cyan, magenta);
  transition: width 0.5s;
}

h3:hover {
  color: #00bcd4;
  text-shadow: 0 0 12px cyan;
}

h3:hover::after {
  width: 100%;
}

/* Responsive Layout */
@media (max-width: 768px) {
  .navbar ul {
    flex-direction: column;
    align-items: center;
  }

  .navbar li {
    margin: 10px 0;
  }

  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
    top: 0;
  }

  .sidebar a {
    margin-bottom: 15px;
  }

  .main-container {
    margin-left: 0;
    padding: 20px;
  }
}






.top {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.chart-container {
  width: 100%;
  max-width: 800px;
  margin-bottom: 30px;
}

.info-cards {
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: 800px;
}

.info-card {
  background-color: #1e1e1e;
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  width: 45%;
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
}

.info-card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.7);
}

.info-card h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.info-card p {
  font-size: 1.2rem;
  font-weight: bold;
  animation: fadeInOut 3s infinite alternate;
}

@keyframes fadeInOut {
  0% {
      opacity: 0.5;
  }
  100% {
      opacity: 1;
  }
}


/* DOLLAR ANIMATION IN TRADE PAGR */

@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600");

/* Existing styles */
body {
    background-color: #000;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}



/* Add the animation CSS */
:root {
    --bar-scale-y: 0;
    --sparkle-color: rgb(253 244 215 / 40%);
}

@keyframes pop-word {
    to {
        transform: rotateX(0);
    }
}

@keyframes show {
    to {
        opacity: 1;
    }
}

@keyframes bar-scale {
    to {
        transform: scaleY(1);
    }
}

@keyframes sparkle {
    0% {
        transform: scale(0);
    }

    60% {
        transform: scale(1) translate(4px, 1px) rotate(8deg);
    }

    100% {
        transform: scale(0) translate(4px, 1px) rotate(8deg);
    }
}

@keyframes shimmer {
    to {
        text-shadow: 0 0 8px red;
    }
}
h1 {
  font-size: 8rem; /* Keep the large, impactful font size */
  margin-bottom: 40px; /* Increase bottom margin to create more space between heading and table */
  color: gold;
  animation: colorFade 3s ease-in-out infinite alternate;
  font-family: "Playfair Display", Vidaloka, serif;
  line-height: 0.85;
  perspective: 500px;
  text-align: center; /* Center align the heading */
}

.word {
  display: block;
  animation: show 0.01s forwards, pop-word 1.5s forwards;
  animation-timing-function: cubic-bezier(0.14, 1.23, 0.33, 1.16);
  opacity: 0;
  transform: rotateX(120deg);
  transform-origin: 50% 100%;
  color: gold;
}

.word:nth-of-type(2) {
  padding: 0 2rem;
  animation-delay: 1.5s;
  color: gold;
}

.superscript {
  position: relative;
  animation-delay: 3.6s;
  animation-duration: 0.25s;
  animation-name: shimmer;
  vertical-align: text-top;
}

/* bars */
.superscript::before {
  --bar-width: 25%;
  position: absolute;
  top: 37%;
  left: 47%;
  width: 14%;
  height: 48%;
  animation: bar-scale 0.25s linear 3s 1 forwards;
  background: linear-gradient(
      to right,
      white var(--bar-width),
      transparent var(--bar-width) calc(100% - var(--bar-width)),
      white calc(100% - var(--bar-width))
  );
  content: "";
  transform: scaleY(var(--bar-scale-y));
}

/* sparkle */
.superscript::after {
  --size: 10rem;
  position: absolute;
  top: -5%;
  left: -85%;
  width: var(--size);
  height: var(--size);
  animation: sparkle 0.4s linear 3.5s 1 forwards;
  background: radial-gradient(
      circle at center,
      rgb(252 249 241 / 94%) 0% 7%,
      transparent 7% 100%
  ),
  conic-gradient(
      transparent 0deg 18deg,
      var(--sparkle-color) 18deg,
      transparent 20deg 40deg,
      var(--sparkle-color) 40deg,
      transparent 43deg 87deg,
      var(--sparkle-color) 87deg,
      transparent 95deg 175deg,
      var(--sparkle-color) 175deg,
      transparent 178deg 220deg,
      var(--sparkle-color) 220deg,
      transparent 222deg 270deg,
      var(--sparkle-color) 270deg,
      transparent 275deg 300deg,
      var(--sparkle-color) 300deg,
      transparent 303deg 360deg
  );
  border-radius: 50%;
  clip-path: polygon(
      50% 0,
      59.13% 26.64%,
      85.13% -2.35%,
      100% 50%,
      50% 100%,
      0 50%,
      31.39% 34.86%
  );
  content: "";
  filter: blur(1px);
  transform: scale(0);
}

@media screen and (max-width: 600px) {
  h1 {
      font-size: 5rem;
  }

  .superscript::after {
      --size: 6rem;
  }
}





.container {
  width: 50%;
  height: 200px;
  position: absolute;
  left: 50%; /* Adjusted for centering horizontally */
  transform: translateX(-50%); /* Ensures the container is perfectly centered */
  margin-top: 10%; /* Adjust as needed for vertical positioning */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(28, 28, 28, 0.8); /* Slightly transparent background */
  border-radius: 20px; /* Soft rounded corners */
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.6); /* Deep shadow for depth */
  z-index: 2; /* Ensures it is above other content */
  overflow: hidden; /* Clips overflow, useful for animations */
}

/* Additional styling for content inside the container */
.container h2 {
  color: white;
  font-size: 2rem;
  text-align: center;
  animation: fadeInOut 3s infinite alternate; /* Reusing the fadeInOut animation */
}

.container p {
  color: lightgray;
  font-size: 1.2rem;
  text-align: center;
  padding: 10px;
  animation: glow 2s infinite alternate; /* Reusing the glow animation */
}

/* Media Query Adjustments */
@media (max-width: 768px) {
  .container {
    width: 80%;
    height: auto; /* Allows height to adjust based on content */
    margin-top: 20%; /* Adjusts positioning for smaller screens */
  }

  .container h2 {
    font-size: 1.5rem;
  }

  .container p {
    font-size: 1rem;
  }
}


.animationss {
  margin-top: 5%;
  position: relative;
  top: -10px;
  left: -10px;
  animation: x 1s infinite;
  -webkit-animation: x 1s infinite;
  -moz-animation: x 1s infinite;
  -o-animation: x 1s infinite;
  margin-left: 80%;
  height: 100%;
  width: 100%;
}
